.select-prematuro-container{
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        ". arrow"
        ". arrow"
    ;
}
.select-prematuro{
    width: 100%;
    appearance: none;
    background-color: var(--background);
    outline: none;
    @apply px-2; 
}
.arrow{
    transition: transform 250ms ease; 
    @apply w-full flex justify-center items-center; 
}
.arrow[data-state="true"]{
    transform: rotate(-90deg);
}
.menu-option{
    transition: all 250ms ease;
    transition-delay: 50ms;
    transform-origin: top left;
}
.menu-option[data-state="true"]{
    transform: scaleY(1);
}
.menu-option[data-state="false"]{
    transform: scaleY(0);
}
.menu-option[data-state="true"] *{
    visibility: visible;
}
.menu-option[data-state="false"] *{
    visibility: hidden;
}